@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

@import "tailwindcss";

html, body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#root {
  height: 100vh;
  overflow: hidden;
}

@theme {
    --color-primary: #6C9EFF;
    --color-secondary: #7ED1A3;
    --color-danger: #FC5342;
    --color-background: #FFF9ED;
    --color-border: #c5d8ff;

    --animate-bounce-in: bounce-in 180ms ease-out;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}